$primary: #3292a6;
$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size:30px;

body {
  background: $bg-color;
  color: $font-color ;
}

.navbar {
  border-bottom: $primary-color 3px solid ;
  opacity: 0.8;
}
#home-section {
  background: url("../img/home.jpg") no-repeat fixed center;
  background-size: cover;
  height: "00px";
}

.dark-overlay {
  background-color: $dark-overlay;
}
// Drop the section data from the transparent header
.home-inner{
  padding-top:150px;
  padding-bottom: 50px ;
}

.explore-section1, .explore-section2 {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #ffffff;
  color: #000000 ;
}

#authors{
  img{
    margin-top:-50px;
  }

  .fa{
    font-size:25px;
  }
  .card {
    color: #000000;
  }
  .card:hover{
    background:$primary;
    color:#fff;

    .fa{
      color:#fff;
    }
  }
}


.carousel-item{
  height:450px;
}

.carousel-image-1{
  background:url('img/image1.jpg');
  background-size:cover;
}

.carousel-image-2{
  background:url('img/image2.jpg');
  background-size:cover;
}

.carousel-image-3{
  background:url('img/image3.jpg');
  background-size:cover;
}


#home-heading{
  position:relative;
  min-height:200px;
  background:url('../img/lights.jpg');
  background-attachment:fixed;
  background-repeat:no-repeat;
  text-align:center;
  color:#fff;
}


#faq{
  .card{
    border:#444;
    a{
      color:#fff;
      text-decoration:none;
    }
  }

  .card-body, .card-header{
    background:#333;
  }
}
